
  <%= form_for(@task) do |f| %>
      <div class="bl-header>">
        <% if @task.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

              <ul>
                <% @task.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <%= f.text_field :theme %>

          <%= f.label :author %><br>
          <%= f.text_field :author %>
          <%= f.label :status %><br>
          <%= f.text_field :status %>

      </div>

      <div class="field">
        <%= f.cktext_area :description %>
      </div>
      <%= f.submit %>

  <% end %>
