.bl-header
  = link_to '', new_task_path, class: 'fa fa-plus-square'
- @tasks.each do |task|
  .block
    .id-label
      = task.id
    - if task.status == 'Завершено' then
      .status-done
        = link_to task.theme, task
    - else
      = link_to task.theme, task
    .bl-right
      .id-label-author
        = task.author
      .id-label-status
        = task.status
      -#= task.updated_at.strftime('%m.%d.%Y %H:%M')
