.block
  .bl-header
    -#%p .notice
    -#= notice
    .label-id
      = @task.id
    .label-status
      = @task.status
    .bl-right
      .label-author
        = @task.author
      .label-date
        = @task.updated_at.strftime('%m.%d.%Y %H:%M')
  .bl-main
    %b= @task.theme
    = raw RedCloth.new(@task.description).to_html
  .bl-footer
    = link_to 'Edit', edit_task_path(@task)
    = link_to 'Back', tasks_path
    .bl-right

- @task.comments.each do |comment|
  .block
    .bl-header
      .label-author
        = comment.commenter
      .bl-right
        = link_to 'Удалить', [comment.task, comment], |
          method: :delete,                                       |
          data: { confirm: 'Удалить комментарий?' }
    %p
      = comment.body

.block
  -#%h4 добавить комментарий:
  = simple_form_for([@task, @task.comments.build]) do |f|
    %p
      -#= f.label :commenter, label: 'автор'
      = f.text_field :commenter, :class => 'field'
      = f.text_area :body, :class => 'field'
      %p
        = f.submit