.block
  .bl-header
    -#%p .notice
    -#= notice
    .label-id
      = @task.id
    .label-status
      = @task.status
    .label-author
      = @task.author
    .label-date
      = @task.updated_at.strftime('%m.%d.%Y %H:%M')
    .bl-right
      .label-tools
        = link_to 'править', edit_task_path(@task)
        |
        = link_to 'назад', tasks_path
  .bl-main
    %b= @task.theme
    = raw RedCloth.new(@task.description).to_html
  -#.bl-footer
    .bl-right
- @task.comments.each do |comment|
  .block
    .bl-header
      .label-author
        = comment.commenter
      .bl-right
        .label-tools
          = link_to 'удалить', [comment.task, comment], |
            method: :delete,                                       |
            data: { confirm: 'Удалить комментарий?' }
    %p
      = raw RedCloth.new(comment.body).to_html

.block
  -#%h4 добавить комментарий:
  = simple_form_for([@task, @task.comments.build]) do |f|
    %p
      -#= f.label :commenter, label: 'автор'
      = f.text_field :commenter, :class => 'field'
      = f.text_area :body, :class => 'field'
      %p
        = f.submit