.block
  .bl-header
    -#%p .notice
    -#= notice
    .ls-r
      = @task.id
    .ls-d
      = @task.status
    .bl-right
      .id-label-author
        = @task.author
  .bl-main
    %b= @task.theme
    = raw RedCloth.new(@task.description).to_html
  .bl-footer
    = link_to 'Edit', edit_task_path(@task)
    = link_to 'Back', tasks_path
    .bl-right
      = @task.updated_at.strftime('%m.%d.%Y %H:%M')
%h2 Add a comment:
= form_for([@task, @task.comments.build]) do |f|
  %p
    = f.label :commenter
    %br/
    = f.text_field :commenter
  %p
    = f.label :body
    %br/
    = f.text_area :body
  %p
    = f.submit