!!!
%html
  %head
    %title Knowrep
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    .header
      header
    .content
      .routing-bar
        %b
        = link_to '', root_path, :class => 'fa fa-home'
        |
        = link_to 'страницы', pages_path
        |
        = link_to 'задачи', tasks_path
        -#.right
          поиск
      .breadcrumbs
        = render_breadcrumbs
      -#.nav-left
        %p
          = link_to 'страницы', pages_path
        %p
          = link_to 'задачи', tasks_path
      .main
        = yield
      .nav-right
